
.center { 
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }

b {
  font-weight:500;
}


.update {
      font-family: sans-serif;
      margin-left: auto;
      margin-right: auto;
      width: 85%;
      color: red;
  } 

h2 {
      font-family: sans-serif;
      font-size:23px;
      font-weight:500;
      margin-left: auto;
      margin-right: auto;
      width: 85%;

  }

  p {
      font-family: sans-serif;
      font-size: large;
      font-weight: 300;
      margin-left: auto;
      margin-right: auto;
      width: 85%;
  }


ol {
  font-family: sans-serif;
  font-size: large;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

ul {
  font-family: sans-serif;
  font-size: large;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

li {
    font-family: sans-serif;
    font-size: large;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}


.navbar ul{
    list-style-type: none;
    background-color: #DFDFDF;
    padding: 0px;
    margin: 0px;
    padding-left:90px;
    overflow: hidden;
    width: 100%;
}

.navbar a{
    color: #4B2E82;
    font-weight: 300;
    font-size:20px;
    text-decoration: none;
    padding: 16px 18px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
    background-color: #D2D2D2
}

.navbar li {
    float: left;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.row {
  margin-left:100px;
}
.column {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.photo {
  height: 400px;
  width: 600px;
}

.andrew {
  height: 300px;
  width: 280px;
  padding-right:20px;
}

.hala {
  height: 300px;
  width: 280px;
  padding-right:20px;
}

.kathryn {
  height: 300px;
  width: 280px;
  padding-right:20px;
}

.photo-gallery {
  margin-left:100px;
}
.photo-container {
  float: left;
  padding: 1px;
}

.photo-gallery::after {
  content: "";
  clear: both;
  display: table;
}

.left-text {
  width:100%;
}




.wrapper {
  background-color: #DFDFDF;
  height: 130px;
  overflow: hidden;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 0 50px;
  margin-left: 100px;
}

.wrapper:before, .wrapper:after {
  content: "";
  position: absolute;
  height: 130px;
  width: 150px;
  z-index: 2;
}

.wrapper:after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.wrapper:before {
  left: 0;
  top: 0;
}

.wrapper .track {
  display: flex;
  width: calc(200px * 10);
  animation: scroll 15s 0.5s linear infinite;
}

.wrapper .logo {
  width: 150px;
}

.wrapper .logo img {
  height: 90px;
}

@keyframes  scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-150px * 3));
  }
}


.logo-row {
  margin-left:100px;
}
.logo-column {
  float: left;
  padding: 10px;
}

.logo-row::after {
  content: "";
  clear: both;
  display: table;
}



.site-footer
{
  background-color:#DFDFDF;
  height: 25%;
  width: 100%;
  overflow:scroll;
}



.about {
  width: 50%;
  float: left;
  padding-left: 53px;
}

.footer-right {
  width:40%;
  float:left;
  position: relative;
}

.site-footer h2
{
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  width: 85%;
  color: #4B2E82;
}

.site-footer p
{
  text-align: left;
  font-size: large;
  width: 85%;
}

table {
  font-family: sans-serif;
  font-size: large;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

th {
  text-align: left;
  font-weight: 500;
}


.sponsorship{
  border: 1px solid black;
  border-collapse: collapse;
}

.sponsorship th{
  border: 1px solid black;
  padding: 5px;
  background-color: #DFDFDF;
}

.sponsorship td{
  border: 1px solid black;
  padding: 5px;
}

.sponsorship ul {
  margin-left: 0;
  padding-left: 40px;
}


.program{
  border: 1px solid black;
  border-collapse: collapse;
  width: 40%;
  margin-left: 7%;
}

.program th{
  border: 1px solid black;
  padding: 5px;
  background-color: #DFDFDF;
}

.program td{
  border: 1px solid black;
  padding: 5px;
}

.allysa{
  height: 320px;
  width: 230px;
  margin-left: 7%;
}
